/bin
/include
/lib
chat_adjusted.csv
.env
data_clean.py
finetuning_data.jsonl
pyvenv.cfg
KakaoTalk_Chat_💕_2025-10-06-17-35-46.csv
.DS_Store
old_main.py
namuna-841ba-firebase-adminsdk-fbsvc-dcb864eeb3.json